@using PetVet.Models
@model List<Agenda>
@{
    ViewData["Title"] = "Serviços Agendados";
}

<section id="list">
    <div class="title">
        <h2>Serviços Agendados</h2>
    </div>
    <div class="table-container">
        <table id="table-no-resize">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Serviço</th>
                    <th>Detalhes</th>
                    @if (Context.Session.GetInt32("userId") != null)
                    {
                        <th>Ações</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Agenda a in Model)

                {
                    <tr>
                        <td>@a.Id</td>
                        <td>@a.Nome</td>
                        <td>@a.TipoAnimal</td>
                        <td>@a.TipoServico</td>
                        <td>@a.Detalhes</td>
                        @if (Context.Session.GetInt32("userId") != null)

                        {
                            <td>
                                <a href="/Servicos/editarAgenda?id=@a.Id">Editar |</a>
                                <a href="/Servicos/Remover?id=@a.Id">Remover</a>
                            </td>

                        }
                    </tr>

                }
            </tbody>
        </table>
    </div>
</section>
@section Scripts{
<script src="~/js/responsive.js"></script>
<script src="~/js/basictable.js"></script>
}
</section>
